[submodule "src/js/lib/webgl-si"]
	path = src/js/lib/webgl-si
	url = git@github.com:stenvis/webgl-si.git
[submodule "src/js/lib/js-client-helpers"]
	path = src/js/lib/js-client-helpers
	url = git@github.com:stenvis/js-client-helpers
