[submodule "src/js/lib/webgl-biography-page"]
	path = src/js/lib/webgl-biography-page
	url = git@github.com:stenvis/webgl-biography-page.git
[submodule "src/js/lib/webgl-si"]
	path = src/js/lib/webgl-si
	url = git@github.com:stenvis/webgl-si.git
