[submodule "webgl/js/lib/webgl-si"]
	path = webgl/js/lib/webgl-si
	url = git@github.com:stenvis/webgl-si.git
[submodule "webgl/js/lib/js-client-helpers"]
	path = webgl/js/lib/js-client-helpers
	url = git@github.com:stenvis/js-client-helpers.git
