* {
	margin: 0;
	padding: 0;
	border: 0;
	user-select: none;
	font-family: monospace;
}

a {
	text-decoration: none;
}

article,
aside,
figcaption,
figure,
footer,
header,
nav,
section {
	display: block;
}

header,
footer,
section {
	position: absolute;
	z-index: 1;
}

body,
#canvas,
#root {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

#root {
	position: absolute;
}

.pointer {
	cursor: pointer;
}

.pointer {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#canvas {
	filter: contrast(110%);
}